*.o
*.a
Makefile
Fillets.app
src/game/fillets
fillets
.deps
.DS_Store
config.log
config.status
.vs/
build/
.cache/
x64/
script/options.lua
/Debug
solved
list.txt
cmake-build-debug/
.idea/
.vscode/
build.sh